*
  all: unset
  font-family: 'JetBrainsMono Nerd Font'

@mixin small-rounding
  border-radius: 0.818rem
  -gtk-outline-radius: 0.818rem

@mixin normal-rounding
  border-radius: 1.159rem
  -gtk-outline-radius: 1.159rem

@mixin large-rounding
  border-radius: 1.705rem
  -gtk-outline-radius: 1.705rem

@mixin full-rounding
  border-radius: 9999px
  -gtk-outline-radius: 9999px

@mixin menu_decel
  transition: 300ms cubic-bezier(0.1, 1, 0, 1)

@mixin elevation-border
  // border-top: 1px solid mix($t_t_surface, $onSurface, 90%)
  // border-left: 1px solid mix($t_t_surface, $onSurface, 90%)
  // border-right: 1px solid mix($t_t_surface, $onSurface, 95%)
  // border-bottom: 1px solid mix($t_t_surface, $onSurface, 95%)

@mixin elevation2
  margin: 0.476rem
  box-shadow: 0 2px 3px transparentize(black, 0.55)

.corner
  @include large-rounding
  background: rgb(37, 37, 58)

.corner-black
  background: black
  @include large-rounding

@import 'colors'
@import 'mixins'
@import 'classes'

// Widgets
@import 'topbar'
@import 'desktop'
@import 'launcher'
@import 'overview'
@import 'workspaces'
@import 'cheatsheet'
@import 'osd'
