@import 'workspaces'

.bar
  min-height: 2rem
  @include workspaces 

  .corner
    background: $background
    border-radius:  1.705rem
    -gtk-outline-radius:  1.705rem

  .bar-startspace
    background: $background
    border-radius: 0 0 28px 0

    .launcher
      padding: 4px
      padding-right: 24px
      font-size: 1.25rem

    .client
      font-size: 1.1rem
      font-weight: bold
      padding-right: 28px
    

  .bar-endspace
    background: $background
    border-radius: 0 0 0 32px
