* {
  all: unset;
  font-family: 'JetBrainsMono Nerd Font'; }

.spacing-h-5 > * {
  margin-right: 0.341rem; }
  .spacing-h-5 > *:last-child {
    margin-right: 0rem; }

.spacing-h-5 > widget > * {
  margin-right: 0.341rem; }
  .spacing-h-5 > widget > *:last-child > * {
    margin-right: 0rem; }

.spacing-h-5 revealer > * {
  margin-right: 0.341rem; }
  .spacing-h-5 revealer > *:last-child > * {
    margin-right: 0rem; }

.spacing-h-10 > * {
  margin-right: 0.682rem; }
  .spacing-h-10 > *:last-child {
    margin-right: 0rem; }

.spacing-h-10 > revealer > * {
  margin-right: 0.682rem; }

.spacing-h-10 > revealer:last-child > * {
  margin-right: 0rem; }

.spacing-h-10 > flowboxchild > * {
  margin-right: 0.682rem; }

.spacing-h-10 > flowboxchild:last-child > * {
  margin-right: 0rem; }

.spacing-v-10 > * {
  margin-bottom: 0.682rem;
  margin-bottom: 0rem; }

.spacing-v-15 > * {
  margin-bottom: 1.023rem; }
  .spacing-v-15 > *:last-child {
    margin-bottom: 0rem; }

.spacing-h-15 > * {
  margin-right: 1.023rem; }
  .spacing-h-15 > *:last-child {
    margin-right: 0rem; }

.spacing-h-20 > * {
  margin-right: 1.364rem; }
  .spacing-h-20 > *:last-child {
    margin-right: 0rem; }

.spacing-v-20 > * {
  margin-bottom: 1.364rem; }
  .spacing-v-20 > *:last-child {
    margin-bottom: 0rem; }

.txt-larger {
  font-size: 1.6363rem; }

.bar {
  min-height: 2rem; }
  .bar .workspaces {
    font-size: 14px;
    padding: 8px 24px;
    background: #25253a;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px; }
    .bar .workspaces .workspace-button {
      color: gray;
      transition: all 0.3s ease-in-out; }
      .bar .workspaces .workspace-button:hover {
        border-radius: 16px;
        background-color: #f5f5f5; }
      .bar .workspaces .workspace-button.occupied {
        color: white;
        background: #11111b; }
        .bar .workspaces .workspace-button.occupied:hover {
          border-radius: 16px;
          background-color: #f5f5f5; }
        .bar .workspaces .workspace-button.occupied.occupied-left {
          border-top-left-radius: 1rem;
          border-bottom-left-radius: 1rem;
          border-right: 0 solid transparent; }
        .bar .workspaces .workspace-button.occupied.occupied-right {
          border-top-right-radius: 1rem;
          border-bottom-right-radius: 1rem;
          border-left: 0 solid transparent; }
      .bar .workspaces .workspace-button:not(.occupied) {
        border-radius: 1.5rem; }
      .bar .workspaces .workspace-button.active .button-label {
        color: #25253a;
        border-radius: 1rem;
        background-color: #89b4fa;
        transition: all 0.3s ease-in-out; }
      .bar .workspaces .workspace-button .button-label {
        min-width: 2rem; }
  .bar .corner {
    background: #25253a;
    border-radius: 1.705rem;
    -gtk-outline-radius: 1.705rem; }
  .bar .bar-startspace {
    background: #25253a;
    border-radius: 0 0 28px 0; }
    .bar .bar-startspace .launcher {
      padding: 4px;
      padding-right: 24px;
      font-size: 1.25rem; }
    .bar .bar-startspace .client {
      font-size: 1.1rem;
      font-weight: bold;
      padding-right: 28px; }
  .bar .bar-endspace {
    background: #25253a;
    border-radius: 0 0 0 32px; }

.cheatsheet-bg {
  padding: 1.364rem;
  margin-bottom: 0.682rem;
  border-radius: 0.818rem;
  background-color: #25253a;
  -gtk-outline-radius: 0.818rem; }

.cheatsheet-key {
  color: #c4c0ff;
  margin: 0.17rem;
  font-weight: 500;
  min-width: 1.364rem;
  min-height: 1.364rem;
  border-radius: 0.409rem;
  padding: 0.136rem 0.205rem;
  -gtk-outline-radius: 0.409rem;
  border: 0.068rem solid #c4c0ff;
  box-shadow: 0rem 0.136rem 0rem #c4c0ff; }

.cheatsheet-key-notkey {
  color: #c4c0ff;
  margin: 0.17rem;
  min-height: 1.364rem;
  padding: 0.136rem 0.205rem; }

.cheatsheet-category-title {
  font-size: 1.705rem; }

.bg-time-box {
  margin: 4rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid white;
  -gtk-outline-radius: 1.705rem; }

.bg-time-clock {
  font-size: 5.795rem; }

.bg-time-date {
  font-size: 2.591rem; }

window#launcher .window-content {
  margin: 8px;
  color: white;
  padding: 16px;
  border-radius: 8px;
  background-color: #25253a; }
  window#launcher .window-content entry {
    padding: 8px;
    border-radius: 8px;
    background: #11111b; }
    window#launcher .window-content entry label, window#launcher .window-content entry image {
      padding: 8px;
      color: white; }
  window#launcher .window-content separator {
    margin-top: 8px;
    min-height: 1px; }
  window#launcher .window-content scrolledwindow {
    min-width: 500px;
    min-height: 500px; }
  window#launcher .window-content button.app-item {
    border-radius: 8px;
    padding: 8px;
    transition: 200ms; }
    window#launcher .window-content button.app-item label {
      transition: 200ms; }
      window#launcher .window-content button.app-item label.title {
        font-weight: bold; }
    window#launcher .window-content button.app-item image {
      margin-right: 8px;
      transition: 200ms; }
    window#launcher .window-content button.app-item:hover, window#launcher .window-content button.app-item:focus {
      background: #11111b; }
      window#launcher .window-content button.app-item:hover .title, window#launcher .window-content button.app-item:focus .title {
        color: #89b4fa; }
      window#launcher .window-content button.app-item:hover image, window#launcher .window-content button.app-item:focus image {
        -gtk-icon-shadow: 2px 2px black; }
